/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou 
**/
@-moz-keyframes charlieeee {
  from { background-position:top left; } 
  to {background-position:top right; }
}
@-webkit-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-o-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-ms-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-khtml-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
.catchadream{
  background-image:-webkit-linear-gradient( left, red, orange, yellow, green,
                                          blue, indigo, violet, indigo, blue,
                                          green, yellow, orange, red );
  background-image:-moz-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-o-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-ms-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:-khtml-linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  background-image:linear-gradient( left, red, orange, yellow, green,
                                         blue,indigo, violet, indigo, blue,
                                         green, yellow, orange,red );
  -moz-animation:charlieeee 2.5s forwards linear infinite;
  -webkit-animation:charlieeee 2.5s forwards linear infinite;
  -o-animation:charlieeee 2.5s forwards linear infinite;
  -khtml-animation:charlieeee 2.5s forwards linear infinite;
  -ms-animation:charlieeee 2.5s forwards linear infinite;
  -lynx-animation:charlieeee 2.5s forwards linear infinite;
  animation:charlieeee 2.5s forwards linear infinite;
  background-size:50% auto;
}
#tongue{position:cheek;}
/* ^ OMG! An ID! That kills performance! */

/*
  .catchadream:after{content:'廌'}

*/
/* ^ uncomment to add unicorn */



/* The rest of this is by the brainTrain!!!  */


.touchadream {
    position: fixed;
    color: white;
    z-index: 99999999;
    right: 5px;
    top: 5px; 
}

.partytehdreamz {
    position: fixed;
    color: white;
    z-index: 99999999;
    right: 5px;
    top: 55px; 
}

.karmaadream {
    position: fixed;
    color: white;
    z-index: 99999999;
    right: 5px;
    top: 110px; 
}    

.karmagoodz {
    position: fixed;
    top: 260px;
    z-index: 99999999;
    right: 5px;
    display: none;
    color: white;

    padding: 10px  20px;
    font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    background: #3194c6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
}
.donate_rb_site {
    background-color: white;
    color: #494A4A;
    padding: 10px  20px;
    font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.hrc_donate {
    color: white;
    z-index: 99999999;
}

.blue_rb_button {
    cursor: pointer;
    color: white;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .03s ease-in-out;
    -moz-transition: -moz-box-shadow .03s ease-in-out;
    -o-transition: -o-box-shadow .03s ease-in-out;
    transition: box-shadow .03s ease-in-out;
}
.blue_rb_button:active {
    -webkit-box-shadow:
      0 8px 0 #1a74a1,
      0 12px 10px rgba(0,0,0,.3);
    -moz-box-shadow:
      0 8px 0 #1a74a1,
      0 12px 10px rgba(0,0,0,.3);
   box-shadow:
      0 8px 0 #1a74a1,
      0 12px 10px rgba(0,0,0,.3);
}
.blue_rb_button span {
    display: inline-block;
    padding: 10px  20px;
    font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    background: #3194c6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .03s ease-in-out;
    -moz-transition: -moz-transform .03s ease-in-out;
    -o-transition: -o-transform .03s ease-in-out;
}
.blue_rb_button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.white_rb_button {
    cursor: pointer;
    color: #494A4A;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:
     0 8px 0 #C4C7C7,
     0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow:
     0 8px 0 #C4C7C7,
     0 15px 20px rgba(0,0,0,.35);
    box-shadow:
     0 8px 0 #C4C7C7,
     0 15px 20px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .03s ease-in-out;
    -moz-transition: -moz-box-shadow .03s ease-in-out;
    -o-transition: -o-box-shadow .03s ease-in-out;
    transition: box-shadow .03s ease-in-out;
}
.white_rb_button:active {
    -webkit-box-shadow:
      0 8px 0 #C4C7C7,
      0 12px 10px rgba(0,0,0,.3);
    -moz-box-shadow:
      0 8px 0 #C4C7C7,
      0 12px 10px rgba(0,0,0,.3);
   box-shadow:
      0 8px 0 #C4C7C7,
      0 12px 10px rgba(0,0,0,.3);
}
.white_rb_button span {
    display: inline-block;
    padding: 10px  20px;
    font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    background: #F2F5F5;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F2F5F5));
    background: -moz-linear-gradient(#FFFFFF, #F2F5F5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .03s ease-in-out;
    -moz-transition: -moz-transform .03s ease-in-out;
    -o-transition: -o-transform .03s ease-in-out;
}
.white_rb_button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
